<a href="https://colab.research.google.com/github/Madhankumarr11/code-pratice/blob/main/Python_Notes_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#29-oct-2025

##(Casting)

In [2]:
a = 10
print(a)

10

In [4]:
a = '10'
b = '20'
c=a+b
print(c)

1020

In [5]:
a = int('10')
b = int('20')
c=a+b
print(c)

30

In [9]:
a = input()
b = input()

c= a+b
print(c)

10
20
1020

In [8]:
a = int(input())
b = int(input())

c= a+b
print(c)

10
20
30

In [20]:
Name = input()
age = int(input())
address = input()
print('My Name is :', Name)
print('My age is :', age)
print('My address is :', address )

Madhan
30
chennai
My Name is : Madhan
My age is : 30
My address is : chennai

In [26]:
a = int(input())
b = int(input())
c = int(input())

d = (a*b*c)
e = (a+b+c)
f = d/e
print(f)

10
20
30
100.0

In [29]:
name = input()
score = int(input())
department = input()

print('Name :', name)
print('Score :', score/10, '/10')
print('Department :', department)

Madhan
95
Datascience
Name : Madhan
Score : 9.5 /10
Department : Datascience

##2(If or Else)

In [1]:
rcb = 'win'
if (rcb=='win'):
  print('Ee sala cup namade')
else:
  print('Kannan devan tea kudi')

Ee sala cup namade